venv/
dl-env/
faiss-env/
thumbnails-env/
ai-search/node_modules/
ai-search/.cache/

learning/
thumbnails/images/
flaskr/

web/search/uploads/*
photos/*.jpg
embeddings/*.npy
web/instance/*
*.pyc
*.swp
*.swo
*.jpg
*.npy
*.jpeg
*.png
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

devops/*.crt
devops/*.cst
devops/*.key

dist/
build/
*.egg-info/
