* {
  box-sizing: border-box;
  color: #333;
}

body {
  background-color: #81a69b;
  background-image: url(https://image.shutterstock.com/image-vector/flat-vector-web-banner-on-260nw-376628449.jpg);
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: 100% 100%;
}
